@mixin side-padding() {
  padding-left: 5vw;
  padding-right: 5vw;

  @include for-tablet-portrait-up {
    padding-left: 6.4rem;
    padding-right: 6.4rem;
  }

  @include for-small-desktop-up {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

%container {
  @include side-padding();

  margin: 0 auto;
}