$primary-font: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
$default-font-color: -color(white);

%base-heading {
  font-family: $primary-font;
  font-weight: -weight(regular);
}

@mixin hd-a($color: $default-font-color) {
  @extend %base-heading;
  
  font-size: 5.4rem;
  line-height: 1.2;
  color: $color;

  @include for-tablet-portrait-up {
    font-size: 6.4rem;
  }
}

@mixin hd-b($color: $default-font-color) {
  @extend %base-heading;
  
  font-size: 3.6rem;
  line-height: 1.35;
  color: $color;

  @include for-tablet-portrait-up {
    font-size: 4.8rem;
  }
}

@mixin hd-c($color: $default-font-color) {
  @extend %base-heading;
  
  font-size: 3.2rem;
  line-height: 1.35;
  color: $color;

  @include for-tablet-portrait-up {
    font-size: 3.6rem;
  }
}

@mixin p-a($color: $default-font-color) {
  font-family: $primary-font;
  font-size: 1.8rem;
  line-height: 1.55;
  color: $color;
}

@mixin eyebrow($color: $default-font-color) {
  font-family: $primary-font;
  font-size: 1.2rem;
  line-height: 1.2;
  color: $color;
  font-weight: -weight(black);
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}