$primary-font: "GT Haptik Trial", "IBM Plex Sans", "Helvetica Neue", "Helvetica", sans-serif;
$default-font-color: -color(white);

%base-heading {
  font-family: $primary-font;
  font-weight: -weight(regular);
}

@mixin hd-a($color: $default-font-color) {
  @extend %base-heading;
  
  font-size: 6rem;
  line-height: 1.2;
  color: $color;
}

@mixin hd-b($color: $default-font-color) {
  @extend %base-heading;
  
  font-size: 4.8rem;
  line-height: 1.35;
  color: $color;
}

@mixin hd-c($color: $default-font-color) {
  @extend %base-heading;
  
  font-size: 3.6rem;
  line-height: 1.35;
  color: $color;
}

@mixin p-a($color: $default-font-color) {
  font-family: $primary-font;
  font-size: 1.8rem;
  line-height: 1.55;
  color: $color;
}